.auth-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
  }
  
  .phone-input,
  .location-input {
    width: 80%;
    padding: 10px;
    margin-bottom: 15px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .send-code-btn,
  .verify-code-btn {
    width: 90%;
    padding: 10px;
    font-size: 16px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .send-code-btn:hover,
  .verify-code-btn:hover {
    background-color: darkred;
  }
  
  .error {
    color: red;
    font-size: 14px;
    margin-bottom: 10px;
  }
  
  .code-inputs{
    display: flex;
    gap: 20px;
    padding: 10px;
   
  }






  
  .code-inputs input{
    text-align: center;
    font-size: 20px;
    font-family:cursive;
  }